.ferbe__page {
  display: flex;
  height: 100vh;

  & > main {
    flex-grow: 1;
    overflow: auto;
  }

  .ferbe__editor * {
    all: revert;
    box-sizing: border-box;
  }

  .ferbe__editor:has(> *) {
    width: min(50vw, 60rem);
    overflow: auto;
  }
}
