main {
  width: min(80rem, 100%);
  margin-inline: auto;
}

.partial {
  margin-block: 1rem;
  padding: 1rem;
  min-height: 3rem;

  &.is-outlined {
    border: 0.25rem solid;
  }
}

.red {
  background-color: var(--danger);
  opacity: 0.5;
}

.orange {
  background-color: var(--warning);
  opacity: 0.5;
}

.green {
  background-color: var(--success);
  opacity: 0.5;
}

.brown {
  background-color: var(--primary);
  opacity: 0.5;
}

.is-horizontal {
  display: flex;
  gap: 1rem;

  * {
    flex-grow: 1;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 0.25rem solid;
}
